body {
    background: linear-gradient(
        180deg,
        #111028 0%,
        #264882 6.57%,
        #305ea0 23.73%,
        #251f4a 42.19%,
        #571277 56.91%,
        #cd91ea 73.96%,
        #251f4a 94.94%
    );
}
nav {
    background: rgba(17, 16, 40, 0.5);
    position: absolute;
    width: 1440px;
    height: 78px;
    left: 0px;
    top: 0px;
}
section {
    position: absolute;
    width: 608px;
    height: 527px;
    left: 89px;
    top: 281px;
}
