.form-oprec{
    width: 90%;
    max-width: 48rem;
    min-width: 340px;
    padding: 5rem 0;
}

label {
    font-weight: bold;
}

.container-form{
    background-color: white;
    border-radius: 15px;
}

body{
    background: linear-gradient(180deg, #F5F5F1 1.02%, #53EA90 37.05%, #487DBC 69.87%, #264882 100%);
}