main {
    background-image: url("/img/oprec/bg-oprec.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Gotham-Bold", sans-serif;
    color: #1f304a;
}

.container-fluid {
    height: inherit;
}

.container {
    min-height: 60%;
    max-width: 80%;
}

.status {
    font-size: 4rem;
    top: 25%;
}

.detail {
    bottom: 10rem;
}

.staff-info {
    font-family: "Gotham-Medium", sans-serif;
    color: #858585;
    font-size: 2rem;
    bottom: 10%;
}

.helper {
    font-size: 2.4rem;
}

.status,
.staff-info p:last-child,
.helper {
    text-transform: uppercase;
}

.challenge {
    font-size: 2rem;
}

.division {
    font-size: 1.5rem;
}

@media only screen and (max-width: 576px) {
    main {
        background-position-x: 80%;
    }
    .container {
        justify-content: flex-end !important;
        /* background-color: skyblue; */
    }
    .status {
        text-align: center;
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }
    .helper {
        font-size: 1rem;
    }
    .staff-info {
        font-size: 1rem;
        margin-bottom: 0 !important;
        line-height: 1rem;
    }
}
