@import url('../fonts.css');

main {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "gothambold";
    color: #1f304a;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.status {
    font-size: 4rem;
    top: 25%;
}

.challenge {
    font-size: 2rem;
}

.staff-info {
    font-family: "gothammedium";
    color: #858585;
    font-size: 2rem;
    bottom: 10%;
}

#modal-challenge{
    font-family: "gothammedium";
}

.helper {
    font-size: 2.4rem;
}

.status,
.staff-info p:last-child,
.helper {
    text-transform: uppercase;
}

@media only screen and (max-width: 576px) {
    .status {
        font-size: 2rem;
    }
    .helper {
        font-size: 1.5rem;
    }
    .staff-info {
        font-size: 1.125rem;
    }
    .challenge {
        font-size: 1.25rem;
    }
}