#CardWithHeader h3.card-header{
    border-top-left-radius: 1.125rem; 
    border-top-right-radius: 1.125rem;
    font-family: "gothammedium";
    font-size: 2rem;
    color: #ffffff;
    border: 0;
}

#CardWithHeader .card-content {
    border-bottom-left-radius: 1.125rem;
    border-bottom-right-radius: 1.125rem;
    border-end-end-radius: 1.125rem;
    background: linear-gradient(-45deg, #ffffff64, #ffffff37);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.259);
}

#CardWithHeader .card-content img{
    border-radius: 1.125rem;
}

#CardWithHeader .card-content p {
    font-size: 1.625rem;
    color: white;
    font-family: "gothammedium";
    letter-spacing: -0.02em;
}

@media only screen and (max-width: 768px) {
    #CardWithHeader h3.card-header{
        border-top-left-radius: 0.3125rem; 
        border-top-right-radius: 0.3125rem;
    }
    
    #CardWithHeader .card-content {
        border-bottom-left-radius: 0.3125rem;
        border-bottom-right-radius: 0.3125rem;
    }
    #CardWithHeader .card-content img{
        border-radius: 0.3125rem;
    }

    #CardWithHeader h3.card-header{
        font-size: 1.5rem;
    }
    #CardlWithHeader img {
        width: 100% !important;
    }
    
    #CardWithHeader .card-content p {
        font-size: 1rem;
    }
}
