.carouselWithFloatingHeader .row p{
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll;     
}
.carouselWithFloatingHeader .row p::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.carouselWithFloatingHeader{
    background: linear-gradient(-45deg, #ffffff64, #ffffff37);
}

.carouselWithFloatingHeader div.floating-header {
    background: linear-gradient(90.75deg, #53EA90 1.37%, #3B71C7 98.71%);
    backdrop-filter: blur(20px);
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.25));
    border-radius: 1.125rem;
    top: 0;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
.carouselWithFloatingHeader div.floating-header h2 {
    font-size: 2rem;
}
.carouselWithFloatingHeader h3 {
    font-size: 2.875rem;
    padding-top: 1rem;
}
.carouselWithFloatingHeader .row p {
    font-size: 1.625rem;
    font-family: "gothammedium";
    line-height: 1.875rem;
    height: 22rem;
}
.carouselWithFloatingHeader .row img {
    border-radius: 1.125rem;
    object-fit: cover;
}
.carouselWithFloatingHeader .carousel-indicators {
    bottom: 0;
}

.carouselWithFloatingHeader .carousel-indicators li {
    width: 0.8rem;
    height: 0.8rem;
}

@media only screen and (max-width: 1200px) {
    .carouselWithFloatingHeader {
        padding:3rem 4rem;
    }
}
@media only screen and (max-width: 768px) {
    
    .carouselWithFloatingHeader div.floating-header {
        transform: translate(-0.1rem, -50%) !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    .carouselWithFloatingHeader div.floating-header h2 {
        font-size: 1.2rem !important;
    }
    .carouselWithFloatingHeader h3 {
        font-size: 1.5rem;
    }

    .carouselWithFloatingHeader .row p {
        height: 15.225rem;
    }

    .carouselWithFloatingHeader article {
        padding: 5rem 0.5rem !important;
    }
    .carouselWithFloatingHeader
        #facilityCarousel
        div
        div:last-child
        div:last-child
        div
        button {
        text-align: center !important;
        background-color: red !important;
    }
}
