.CarouselWithFloatingHeaderAndButton {
    padding-bottom: 5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.259);
}
.CarouselWithFloatingHeaderAndButton div.floating-header {
    background: linear-gradient(75deg, #53ea90, #3b71c7);
    border-radius: 1.125rem;
    top: 0;
    transform: translateY(-50%);
    z-index: 2;
}
.CarouselWithFloatingHeaderAndButton div.floating-header h2 {
    font-size: 1.75rem;
}
.CarouselWithFloatingHeaderAndButton .row h3 {
    font-size: 2rem;
}
.CarouselWithFloatingHeaderAndButton .row p {
    font-size: 1.25rem;
    font-family: "gothamlight";
}
.CarouselWithFloatingHeaderAndButton .carousel-indicators {
    bottom: 0;
}
.CarouselWithFloatingHeaderAndButton .carousel-indicators li {
    width: 0.8rem;
    height: 0.8rem;
}
.CarouselWithFloatingHeaderAndButton a.carousel-control[data-slide="prev"] {
    left: 0;
    transform: translateX(-1rem);
}
.CarouselWithFloatingHeaderAndButton a.carousel-control[data-slide="next"] {
    right: 0;
    transform: translateX(1rem);
}

@media only screen and (max-width: 992px) {
    .CarouselWithFloatingHeaderAndButton div.floating-header {
        left: 1rem;
        right: 1rem;
    }
    .CarouselWithFloatingHeaderAndButton .carousel-inner div.row:last-child p {
        text-align: center !important;
    }
    .CarouselWithFloatingHeaderAndButton
        .carousel-inner
        div.row:last-child
        p
        + div
        a {
        margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    .CarouselWithFloatingHeaderAndButton {
        padding-left: 0.3rem !important;
        padding-right: 0.3rem !important;
    }
    .CarouselWithFloatingHeaderAndButton div.floating-header {
        transform: translate(-0.1rem, -50%) !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    .CarouselWithFloatingHeaderAndButton div.floating-header h2 {
        font-size: 1.2rem !important;
    }
    .CarouselWithFloatingHeaderAndButton article {
        padding: 5rem 0.5rem !important;
    }
    .CarouselWithFloatingHeaderAndButton h3 {
        font-size: 2rem !important;
    }
}
