@import url("../fonts.css");
footer .sosmed-title,
footer section:nth-child(3),
footer section h6 {
    font-size: 1.5rem;
    font-family: "gothambold";
}

footer .icons img {
    max-width: 2rem;
}

footer section:first-of-type img.footer-logo {
    width: 25%;
}

footer section:first-child div:first-child {
    width: 35%;
}

footer section:nth-child(2) div ul {
    padding-left: 0;
    list-style: none;
    text-align: left;
}

@media only screen and (max-width: 992px) {
    footer section:first-child div:first-child {
        width: 50% !important;
    }
}

@media only screen and (max-width: 768px) {
    footer section:first-of-type {
        flex-direction: column;
        align-items: center !important;
    }
    footer section:first-of-type img.footer-logo {
        width: 40%;
        margin-bottom: 2rem;
    }
    footer section:first-child div:first-child {
        width: 75% !important;
    }
    footer .sosmed-title,
    footer section:nth-child(3) {
        text-align: center !important;
    }
    footer .sosmed-title,
    footer section:nth-child(3),
    footer section h6 {
        font-size: 1.375rem;
    }
}

@media only screen and (max-width: 576px) {
    footer .icons img {
        max-width: 1.625rem;
    }
    footer section:nth-child(2) div {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    footer section:nth-child(2) div div {
        text-align: start;
    }
    footer section:first-child div:first-child {
        width: 100% !important;
    }
}
