.Map {
    height: 40rem;
}

.Map iframe {
    width: 80%;
    min-height: 440px;
    z-index: 2;
    border-radius: .625rem;
}

.Map .map-stage {
    transform: translateY(-13rem);
}

.Map .map-stage img {
    width: 100%;
}

.Map .map-content {
    bottom: 10%;
    left: 0;
    right: 0;
}

.Map .map-content span {
    font-size: 2.25rem;
    font-family: "gothammedium";
}

@media only screen and (max-width: 992px) {
    .Map {
        height: 25rem;
    }
    .Map iframe {
        width: 75%;
        min-height: 300px;
    }
    .Map .map-stage {
        transform: translateY(-7rem);
    }
    .Map .map-content {
        width: 100%;
        bottom: 5%;
    }
    .Map .map-content span, .Map .map-content a i {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .Map {
        height: 18rem;
    }
    .Map iframe {
        width: 70%;
        min-height: 200px;
    }
    .Map .map-stage {
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        transform: translateY(-4.5rem);
    }
    .Map .map-content {
        width: 100%;
        bottom: 5%;
    }
    .Map .map-content span, .Map .map-content a i {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 576px) {
    .Map {
        height: 14rem;
    }
    .Map iframe {
        width: 90%;
        min-height: 100px;
    }
    .Map .map-stage {
        padding: 0 !important;
        transform: translateY(-4rem);
    }
    .Map .map-content {
        width: 100%;
        bottom: 5%;
    }
}