
#SimpleTwoSideCard div.row {
    background: linear-gradient(-45deg, #ffffff64, #ffffff37);
    backdrop-filter: blur(20px);
    border-radius: 0.875rem;
}

#SimpleTwoSideCard .text-side h2{
    font-family: "gothambold";
    font-size: 2.4375rem;
    color: black;
}

#SimpleTwoSideCard .text-side p{
    font-family: "gothamlight";
    font-size: 1.625rem;
    color: grey;
} 

#SimpleTwoSideCard .image-side{
    padding: 0 ;
} 

@media only screen and (max-width: 426px) {

    #SimpleTwoSideCard .text-side h2.title{
        margin: 0 !important;
        font-size: 0.875rem !important;
    }
    
    #SimpleTwoSideCard .text-side p.text{
        line-height: 0.6875rem !important;
    }
}

@media only screen and (max-width: 767px) {
    #SimpleTwoSideCard div.row {
        border-radius: 0.3125rem !important;
    }
    #SimpleTwoSideCard .text-side .text{
        font-size: 0.75rem !important;
    } 
}

@media only screen and (max-width: 992px) {
    #SimpleTwoSideCard .text-side h2{
        font-size: 1.5rem !important;
    }
    #SimpleTwoSideCard .text-side p{
        font-size: 1rem !important;
    } 
}