#simpleTwoSideCarousel{
    margin: 2rem auto;    
}

#simpleTwoSideCarousel.row{
    background:linear-gradient(-45deg,#ffffff64,#ffffff37);
    backdrop-filter:blur(20px);
    border-radius:1.125rem
}
#simpleTwoSideCarousel div{
    flex:1
}

#simpleTwoSideCarousel h2{
    font-size:3rem;
    font-family:gothammedium
}
#simpleTwoSideCarousel p{
    text-align:justify;
    font-size:1.375rem;
    font-family:gothammedium
}

#simpleTwoSideCarousel .carousel-indicators li{
    width:.8rem;
    height:.8rem
}
@media only screen and (max-width:768px){
    #simpleTwoSideCarousel.row.d-flex{
        flex-direction:column-reverse
    }
    #simpleTwoSideCarousel h2{
        font-size:2rem
    }
    #simpleTwoSideCarousel h3{
        font-size:2rem
    }
    #simpleTwoSideCarousel p{
        font-size:1rem
    }
    #simpleTwoSideCarousel a{
        margin:auto;font-size:.875rem
    }
}
