.three-cards .item-three-cards {
    border-bottom: 3px solid grey;
    background: linear-gradient(to right, #ffffff64, #ffffff37);
    backdrop-filter: blur(20px);
    border-radius: 18px;
}

.three-cards .item-three-cards img {
    width: 100%;
    height: auto;
    border-radius: 18px 18px 0 0;
    filter: grayscale(100%);
}

.item-three-cards li {
    list-style-type: none;
}

.container-text {
    padding: 18px;
}

@media screen and (max-width: 992px) {
    .three-cards .item-three-cards {
        width: 80%;
        margin-bottom: 2rem;
    }
    .three-cards .item-three-cards .container-text {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .three-cards .item-three-cards h2 {
        font-size: 2rem;
    }
    .three-cards .item-three-cards p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .three-cards .item-three-cards {
        margin-bottom: 2rem;
    }
}
