.TwoSideCarousel {
    padding-left: 7rem;
    padding-right: 7rem;
    background: linear-gradient(-45deg, #ffffff64, #ffffff37);
    backdrop-filter: blur(20px);
    border-radius: 1.125rem;
}
.TwoSideCarousel h3 {
    font-size: 3rem;
}
.TwoSideCarousel p {
    font-size: 1.375rem;
}
.TwoSideCarousel .carousel-indicators li {
    width: 0.8rem;
    height: 0.8rem;
}
.TwoSideCarousel .left-side {
    flex: 5;
}
.TwoSideCarousel .right-side {
    flex: 4;
}
.TwoSideCarousel a.carousel-control-prev {
    left: 2rem;
}
.TwoSideCarousel a.carousel-control-next {
    right: 2rem;
}
.TwoSideCarousel .carousel-item a.btn-mobile-show {
    display: none !important;
}

@media only screen and (max-width: 992px) {
    .TwoSideCarousel {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
    .TwoSideCarousel div div div div div {
        flex-direction: column;
    }
    .TwoSideCarousel div div div div div div {
        margin: 1rem;
        margin-bottom: 1rem;
        padding-right: 0 !important;
    }
    .TwoSideCarousel a {
        margin: auto;
    }
    .TwoSideCarousel .carousel-item a.btn-mobile-show {
        display: flex !important;
    }
    .TwoSideCarousel .carousel-item a.btn-desktop-show {
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
    .TwoSideCarousel {
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }
    .TwoSideCarousel h3 {
        font-size: 2rem;
    }
    .TwoSideCarousel a i {
        font-size: 2rem;
    }
    .TwoSideCarousel a.carousel-control-prev {
        left: 1rem;
    }
    .TwoSideCarousel a.carousel-control-next {
        right: 1rem;
    }
}
