.twoSideCard div.row {
    background: linear-gradient(-45deg, #ffffff64, #ffffff37);
    backdrop-filter: blur(20px);
    border-radius: 1.125rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.259);
}
.twoSideCard .row h3 {
    font-size: 2.125rem;
}
.twoSideCard .row p {
    font-size: 1.125rem;
    font-family: "gothamlight";
    height: 320px;
    padding-left: 5px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: auto;  
    direction: rtl;
}

.twoSideCard .row p::-webkit-scrollbar {
    width: 2px; /* for Chrome, Safari, and Opera */
}
::-webkit-scrollbar-thumb {
background: darkslategrey !important; 
border-radius: 10px;
}
::-webkit-scrollbar-track {
    opacity: 0.5;
    box-shadow: inset 0 0 5px #ffffff64; 
    border-radius: 10px;
}

@media only screen and (max-width: 992px) {
    .twoSideCard div.row div.left {
        margin-bottom: 0rem !important;
    }
    .twoSideCard .row a {
        margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    .twoSideCard .row h3 {
        font-size: 1.5rem;
    }
    .twoSideCard .row p {
        font-size: 1rem;
    }
}
