.iframe-video-embed {
    width: 830px;
    height: 520px;
    border-radius: 14px;
}

@media screen and (max-width: 840px) {
    .iframe-video-embed {
        width: 600px;
        height: 450px;
    }
}

@media screen and (max-width: 620px) {
    .iframe-video-embed {
        width: 420px;
        height: 400px;
    }
}

@media screen and (max-width: 430px) {
    .iframe-video-embed {
        width: 270px;
        height: 350px;
    }
}
