/* Jumbotron */
#jumbotron {
    height: 730px;
    background: linear-gradient(to bottom, #f7ddd2, #a2566a);
}

#jumbotron .container {
    height: 80%;
}

#jumbotron h1 {
    font-size: 80px;
    background: linear-gradient(to bottom, #fdf3f0 60%, #ecae94);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

#jumbotron h3 {
    color: #fff;
    font-size: 30px;
}

#jumbotron a.btn {
    background: linear-gradient(90.75deg, #d9c7cf, #78295a) !important;
}

@media screen and (max-width: 576px) {
    #jumbotron .container {
        height: 30%;
    }

    #jumbotron h1 {
        font-size: 54px;
        text-align: center;
    }

    #jumbotron h3 {
        font-size: 20px;
        text-align: center;
    }

    #jumbotron a.button-link {
        margin: auto;
    }
}

/* INFO-UNIK */
#info-unik {
    min-height: 720px;
}

#info-unik h2 {
    font-size: 34px;
}

#info-unik p {
    font-size: 25px;
}

@media screen and (max-width: 1200px) {
    #info-unik p {
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    #info-unik img {
        margin-bottom: 20px !important;
    }
}

@media screen and (max-width: 768px) {
    #info-unik h2 {
        font-size: 24px !important;
    }

    #info-unik img {
        margin-bottom: 0 !important;
    }

    #info-unik p {
        font-size: 16px !important;
    }
}

/* List Alumni */
#alumni .text-list-alumni {
    padding-left: 0px;
}

section#info-unik {
    background-color: #305ea0;
}

section#alumni {
    background: linear-gradient(to bottom, #305ea0, #251f4a);
}
