/* Jumbotron */
#jumbotron {
    height: calc(100vh - 0px);
    background: linear-gradient(to bottom, #f7ddd2, #a2566a);
    background: url("../../img/alumni/bg-jumbotron-alumni.svg");
    background-size: cover;
}

#jumbotron .container {
    height: 80%;
}

#jumbotron h1 {
    font-size: 80px;
    background: linear-gradient(to bottom, #fdf3f0 60%, #ecae94);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

#jumbotron h3 {
    color: #fff;
    font-size: 30px;
}

#jumbotron a.btn {
    background: linear-gradient(90.75deg, #d9c7cf, #78295a) !important;
}

@media screen and (max-width: 992px) {
    #jumbotron {
        min-height: 730px;
    }

    #jumbotron h1 {
        font-size: 54px;
        text-align: center;
    }

    #jumbotron h3 {
        font-size: 20px;
        text-align: center;
    }

    #jumbotron a.button-link {
        margin: auto;
    }

    #jumbotron img {
        width: 60%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    #jumbotron img {
        width: 100%;
    }
}

/* INFO-UNIK */
#info-unik {
    min-height: 720px;
}

#info-unik h2 {
    font-size: 30px;
}

#info-unik p {
    font-size: 20px;
}

@media screen and (max-width: 992px) {
    #info-unik img {
        margin-bottom: 20px !important;
    }
}

@media screen and (max-width: 768px) {
    #info-unik h2 {
        font-size: 24px !important;
    }

    #info-unik img {
        margin-bottom: 0 !important;
    }

    #info-unik p {
        font-size: 16px !important;
    }
}

/* List Alumni */
#alumni .text-list-alumni {
    padding-left: 0px;
}

#alumni .alumni-item {
    transition: all 0.3s ease;
}

#alumni .alumni-item:hover {
    transform: scale(1.03);
}

/* Background */
.body {
  background: url("../../img/alumni/base-page.svg");
  background-size: cover;
}
