.carousel-control {
    top: 50%;
}

.carousel-control:first-child {
    right: 0;
}

.carousel-control:last-child {
    right: 0;
}

/* font */
body main h2{
    font-size: 2.125rem;
}
body main h3{
    font-size:  1.875rem;
}
body main p {
    font-size: 1.125rem !important;
}

section#jumbotron {
    min-height: 100vh;
    background: linear-gradient(180deg, #F6ECFB 0%, #C17FE0 116.03%);
}
section#jumbotron .left{
    position: relative;
    z-index: 1;
}
section#jumbotron h1 {
    font-size: 5rem;
    background: linear-gradient(267.28deg, #3B71C7 58.44%, #A562E9 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
section#jumbotron h2 {
    font-size: 1.875rem;
    color: #3B71C7;;
}
section#jumbotron a.btn{
    background: linear-gradient(90.75deg, rgba(59, 113, 199, 0.7) 1.29%, rgba(166, 127, 216, 0.7) 55.07%, rgba(244, 230, 250, 0.7) 98.71%);
    backdrop-filter: blur(20px);
}
section#jumbotron .ilustrasi{
    position: absolute;
    bottom: 0;
    right: 0;
}
section#jumbotron .ilustrasi img{
    width: 778px;
    height: auto;
}


section#event {
    background: linear-gradient(to bottom, #264882, #284c88);
}

section#event .container-btn button {
    background: linear-gradient(45deg, #FFFFFF64, #FFFFFF37);
    backdrop-filter: blur(20px);
    font-size: 1.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.259);
    font-family: "gothammedium";
    transition: transform 0.2s ease;
}
section#event .container-btn button:hover {
    background: linear-gradient(82.07deg, rgba(83, 234, 144, 0.9) 0%, rgba(59, 113, 199, 0.9) 100%);
    backdrop-filter: blur(20px);
    transform: scale(1.025)
    /* box-shadow: 0 5px 15px lightseagreen; */
    
}
section#event .container-btn button:focus {
    background: linear-gradient(82.07deg, rgba(83, 234, 144, 0.9) 0%, rgba(59, 113, 199, 0.9) 100%);
    backdrop-filter: blur(20px);
    box-shadow: 0 5px 10px lightseagreen;
}
section#event .container-btn div:last-child button {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
section#event .container-btn div:nth-child(4),
section#event .container-btn div:nth-child(5),
section#event .container-btn div:nth-child(6) {
    padding-right: 2rem;
    padding-left: 2rem;
}
section#event .container-btn div:nth-child(7) {
    padding-right: 5rem;
    padding-left: 5rem;
}

div#tentang article {
    border: 4px solid #ffffff50;
    border-radius: 18px;
    padding-top: 4rem !important;
}
div#tentang p {
    font-size: 1.875rem;
    font-family: "gothammedium";
}
div#tentang .SectionHeader {
    margin-bottom: 0;
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-50%);
}
div#tentang .SectionHeader div::before {
    display: none;
}
section#dokumentasi {
    background: linear-gradient(to bottom, #2b5391, #2e5b9b );
}

section#informasi-penting {
    background-image: url("/img/main/informasi-penting-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
section#informasi-penting h2 {
    font-size: 3.875rem;
}
section#informasi-penting a {
    font-size: 2.125rem;
    padding: 1rem 5rem 1rem 5rem !important;
}

@media only screen and (max-width: 1200px) {
    section#event article:first-child a:last-child button {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}
@media only screen and (max-width: 992px) {
    section#jumbotron h1{
        font-size: 4rem;
    }
    section#jumbotron{
        text-align: center;
    }
    section#jumbotron .left{
        position:unset
    }
    section#jumbotron a.button-link{
        margin: auto;
    }
    section#jumbotron .ilustrasi{
        position: unset;
    }
    section#jumbotron h1{
        margin-top: 5rem;
    }
    section#jumbotron .ilustrasi img{
        width: 515px;
    }
}

@media only screen and (max-width: 768px) {
    body main h2{
        font-size: 2rem;
    }
    body main h3{
        font-size:  1.5rem;
    }
    body main p {
        font-size: 1rem !important;
    }
    section#jumbotron h1{
        margin-top: 5rem;
    }
    

    section#event article:first-child button{
        font-size: 1.125rem;
        border-radius:  0.625rem;
    }
    a.button-link:not(section#event a.button-link, section#jumbotron
            a.button-link) {
        margin: auto;
    }
    section#jumbotron h1 {
        font-size: 3rem;
    }
    section#event article:first-child a:last-child button {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    section#informasi-penting h2 {
        font-size: 2.375rem !important;
    }
    section#informasi-penting a {
        font-size: 1.125rem;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 540px;
    }
    body main h2{
        font-size: 1.125rem !important;
    }
    body main .SectionHeader h2{
        font-size: 1.125rem !important;
    }
    body main p {
        font-size: 0.875rem !important;
    }
    section#jumbotron{
        text-align: center;
    }
    section#jumbotron h2{
        font-size: 1.25rem !important;
    }
    section#jumbotron a.button-link{
        margin: auto;
    }
    section#jumbotron .ilustrasi img{
        width: 360px;
    }
    section#event article:first-child button{
        font-size: 0.875rem;
        min-height: 50px;
    }

    
}