* {
    box-sizing: border-box;
}

body main {
    color: #ffffff;
}

body main h2{
    font-size: 2.125rem;
}
body main h3{
    font-size:  1.875rem;
}
body main p {
    font-size: 1.125rem !important;
}

section#jumbotron {
    min-height: calc(100vh - 0px);
    background: linear-gradient(270deg, #F5F5F1 0.9%, #C5BEF0 100%);
}
section#jumbotron h1 {
    font-size: 5rem;
    background: linear-gradient(to left, #A562E9 0%, #3B71C7 50%, #A3B4CC 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
section#jumbotron h2 {
    color: #3B71C7;
    font-size: 1.875rem;
}
section#jumbotron a.btn{
    background: linear-gradient(90.75deg, rgba(229, 227, 241, 0.7) 1.29%, rgba(59, 113, 199, 0.7) 98.71%);
    backdrop-filter: blur(20px);
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.25));

}
section#info-unik {
    background: linear-gradient(to bottom, #264882, #2A518e);
}
section#video-profile{
    background: linear-gradient(to bottom, #2A518E, #2E5998);
}
section#video-profile iframe{
    border-radius: 0.625rem;
}
section#waktu {
    background: linear-gradient(to bottom, #2E5998, #2F5999);
}
/* section#akreditasi {
    background: linear-gradient(to bottom, #2F5999, #2C437B);
} */
section#virtual-expo {
    background: linear-gradient(to bottom, #2F5999, #2C437B);
}
section#jurusanmu{
    background: linear-gradient(to bottom, #2C437B,  #282F60);
}
/* section#perbandingan {
    background: linear-gradient(to bottom, #2B1D50, #401862);
} */
section#kerja-sama {
    background: linear-gradient(to bottom, #282F60, #2B1D50);
}

@media only screen and (max-width: 992px) {
    section#jumbotron h1{
        font-size: 4rem;
    }
}

@media only screen and (max-width: 767px) {
    body main h2{
        font-size: 2rem !important;
    }
    body main h3{
        font-size:  1.5rem;
    }
    body main p {
        font-size: 1rem !important;
    }

    section#jumbotron h1{
        font-size: 3.125rem;
    }
    section#video-profile .col-lg-10{
        padding: 0;
    }
    section#fasilitas div.row {
        margin-bottom: 0.75rem;
    }
    section#fasilitas div.row div {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 0.75rem;
    }
    a.button-link:not(section#faculty a.button-link, section#jumbotron
            a.button-link) {
        margin: auto !important;
        font-size: 0.875rem !important;
    }
}
@media only screen and (max-width: 576px) {
    .container {
        max-width: 540px;
    }
    body main h2{
        font-size: 1.125rem !important;
    }
    body main .SectionHeader h2{
        font-size: 1.125rem !important;
    }
    
    body main h3{
        font-size:  1.125rem !important;
    }
    body main p {
        font-size: 0.875rem !important;
    }

    section#jumbotron{
        text-align: center;
    }
    section#jumbotron h2{
        font-size: 1.25rem !important;
    }
    section#jumbotron a.button-link{
        margin: auto;
    }
}
