/* Jumbotron */
#jumbotron {
    height: 720px;
    background: linear-gradient(to bottom, #fff9ee, #e9a386);
}

#jumbotron .container {
    height: 40%;
}

#jumbotron h1 {
    font-size: 80px;
    background: linear-gradient(to bottom, #e67245, #a562e9);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

#jumbotron h3 {
    color: #a562e9;
    font-size: 30px;
}

#jumbotron a.btn {
    background: linear-gradient(90.75deg, #ae65d3, #e67346) !important;
}

@media screen and (max-width: 576px) {
    #jumbotron .container {
        height: 30%;
    }

    #jumbotron h1 {
        font-size: 54px;
        text-align: center;
    }

    #jumbotron h3 {
        font-size: 20px;
        text-align: center;
    }

    #jumbotron a.button-link {
        margin: auto;
    }
}

/* Catalog */
#catalog .text-col-product-merchandise {
    padding-left: 32px;
}

@media screen and (max-width: 1200px) {
    #catalog .text-col-product-merchandise {
        padding-left: 28px;
    }
}

@media screen and (max-width: 992px) {
    #catalog .text-col-product-merchandise {
        padding-left: 24px;
    }
}

@media screen and (max-width: 768px) {
    #catalog .text-col-product-merchandise {
        padding-left: 20px;
    }
}

@media screen and (max-width: 576px) {
    #catalog .text-col-product-merchandise {
        padding-left: 45px;
    }
}

section#merchandise-carousel {
    background-color: #305ea0;
}

section#catalog {
    background: linear-gradient(to bottom, #305ea0, #251f4a);
}
