/* Jumbotron */
#jumbotron {
    min-height: calc(100vh - 0px);
    background: linear-gradient(to bottom, #fff9ee, #e9a386);
}

#jumbotron .container {
    height: 40%;
}

#jumbotron h1 {
    font-size: 80px;
    background: linear-gradient(to bottom, #e67245, #a562e9);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

#jumbotron h3 {
    color: #a562e9;
    font-size: 30px;
}

#jumbotron a.btn {
    background: linear-gradient(90.75deg, #ae65d3, #e67346) !important;
}

@media screen and (max-width: 576px) {
    #jumbotron .container {
        height: 30%;
    }

    #jumbotron h1 {
        font-size: 54px;
        text-align: center;
    }

    #jumbotron h3 {
        font-size: 20px;
        text-align: center;
    }

    #jumbotron a.button-link {
        margin: auto;
    }
}

/* Catalog */
/* Nothing */

/* Background Colour */

section#merchandise-carousel {
    background-color: #305ea0;
}

section#catalog {
    background: linear-gradient(to bottom, #305ea0, #251f4a);
}
