@font-face {
    font-family: "GothamBold";
    src: url("../../../font/Gotham-Font/GothamBold.ttf");
}

@font-face {
    font-family: "GothamMedium";
    src: url("../../../font/Gotham-Font/GothamMedium.ttf");
}

html {
    height: 100%;
}

body {
    margin: 0;
    background: url("../../../img/form-search/Ellipse-ungu.png"), url("../../../img/form-search/Ellipse-hijau.png"), url("../../../img/form-search/Ellipse-oren.png");
    background-color: #FFF9EE;
    background-position: 20cm 9cm, 24cm, 17cm -9cm;
    background-size: 25em, 40em, 50em;
    background-repeat: no-repeat;
}

.content {
    margin: 35vh 10vw;
}

.title {
    font-family: "GothamBold";
}

.title span {
    background: linear-gradient(180deg, #487DBC 0%, #53EA90 139.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#input {
    border-radius: 25px;
    margin: 24px 0;
    font-family: "GothamMedium";
}

.input-custom {
    position: relative;
    width: 25em;
}

.input-custom input[type=text] {
    border: none;
    width: 100%;
    padding-right: 12px;
}

.input-custom .input-group-prepend {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    z-index: 9;
    align-items: center;
    border-radius: 20px;
}

.input-custom .input-group-prepend .btn {
    background-color: #3B71C7;
    width: 2.8em;
    height: 2.8em;
    transition: all .2s ease;
}

.input-custom .input-group-prepend .btn:hover {
    background-color: #245fbe;
}

.input-custom .input-group-prepend .btn:active {
    width: 3em;
    height: 3em;
}

.input-custom .input-group-prepend .btn img {
    position: relative;
    left: -6px;
    bottom: 3x;
}

@media (max-width:768px) {
    body {
        background-position: -2cm 9cm, -2cm 2cm, -1cm -4cm;
        background-size: 25em, 40em, 25em;
    }

    .content {
        margin: 30vh 20px;
    }

    .title h1 {
        font-size: 24px;
    }

    .input-custom {
        width: 18em;
    }
}
