@font-face {
    font-family: "GothamBold";
    src: url("../../../font/Gotham-Font/GothamBold.ttf");
}

@font-face {
    font-family: "GothamMedium";
    src: url("../../../font/Gotham-Font/GothamMedium.ttf");
}

html {
    height: 100%;
}

body {
    background-image: url("/img/oprec/bg-oprec.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    margin: 40vh 10vw;
}

.title {
    font-family: "GothamBold";
}

.title span {
    background: linear-gradient(180deg, #487dbc 0%, #53ea90 139.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#input {
    border-radius: 25px;
    margin: 24px 0;
    font-family: "GothamMedium";
}

.input-custom {
    position: relative;
    width: 25em;
}

.input-custom input[type="text"] {
    border: none;
    width: 100%;
    padding-right: 12px;
}

.input-custom .input-group-prepend {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    z-index: 9;
    align-items: center;
    border-radius: 20px;
}

.input-custom .input-group-prepend .btn {
    background-color: #3b71c7;
    width: 2.8em;
    height: 2.8em;
    transition: all 0.2s ease;
}

.input-custom .input-group-prepend .btn:hover {
    background-color: #245fbe;
}

.input-custom .input-group-prepend .btn:active {
    width: 3em;
    height: 3em;
}

.input-custom .input-group-prepend .btn img {
    position: relative;
    left: -6px;
    bottom: 3x;
}

.session-message {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    body {
        background-position-x: 80%;
    }
    .content {
        margin-top: 42vh;
    }
    .title h1 {
        font-size: 1.3rem;
    }
    .session-message {
        font-size: 1.2rem;
    }
}
