.twoSideCard div.row {
    background: linear-gradient(-45deg, #ffffff64, #ffffff37);
    backdrop-filter: blur(20px);
    border-radius: 1.125rem;
}
.twoSideCard .row h3 {
    font-size: 3rem;
}
.twoSideCard .row p {
    font-size: 1.526rem;
    font-family: "gothamlight";
}

@media only screen and (max-width: 768px) {
    .twoSideCard .row h3 {
        font-size: 1.5rem;
    }
    .twoSideCard .row p {
        font-size: 1rem;
    }
}
