@import url("navbar.css");


body {
    background: linear-gradient(
        180deg,
        #111028 0%,
        #264882 11.98%,
        #305ea0 93.23%
    );
    height: 100%;
}

#daftar-container{
    padding-top: 150px !important;
    padding-bottom: 125px !important;
}

.login-box {
    color: #ffffff;
}
.besar {
    background: url("../lambang/soft-star-besar.png");
    background-position: bottom 180px left 100px;
    background-size: 5%;
    background-repeat: no-repeat;
}
.kecil {
    background: url("../lambang/soft-star-kecil.png");
    background-position: bottom 60px left 250px;
    background-size: 2%;
    background-repeat: no-repeat;
}
.naga {
    background: url("../lambang/right-side.png");
    background-position: top 100px right;
    background-size: 40%;
    background-repeat: no-repeat;
}
input[type="password"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="text"]:focus,
input[type="text"]:focus-within,
textarea {
    color: white !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: transparent !important;
    border-bottom: 2px solid white !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 8px 8px 0 0 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{
    -webkit-text-fill-color: white !important;
    -webkit-background-clip: text !important;
    -webkit-font-feature-settings: normal !important;
}
select {
    background-color: transparent !important;
    border-color: transparent !important;
    border-bottom: 2px solid #ffffff !important;
    /* outline: transparent !important; */
    margin-bottom: 15px;
    color: white !important;
    cursor: pointer;
}
.form-control{
    border-radius: 0 !important;
}
.form-check-label{
    cursor: pointer;
}
.form-select{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
option {
    color: white;
    background-color: #305ea0 !important;
}
.tau_ilits{
    border-bottom: 2px solid #ffffff !important;
}
.form-check-input {
    outline: 1px solid#ffffff !important;
    width: 18px;
    height: 18px;
    border-radius: 0% !important;
    display: block !important;
    transition: all 0.3s ease !important;
    cursor: pointer;
    background: transparent;
}
.printilan:hover {
    color: none;
    text-shadow: 0 5px 15px lightseagreen;
    background-color: none;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.form-check:hover {
    color: none;
    text-shadow: 0 5px 15px lightseagreen;
    background-color: none;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.masuk {
    transition: transform 0.3s ease;
    background: linear-gradient(
        90.75deg,
        rgba(83, 234, 144, 0.7) 1.29%,
        rgba(59, 113, 199, 0.7) 98.71%
    );
    backdrop-filter: blur(20px);
    border-radius: 18px;
    color: #ffffff;
    margin-top: 20px;
}
.masuk:hover {
    color: white;
    box-shadow: 0 5px 15px lightseagreen;
    transform: scale(1.125);
}
.daftar {
    transition: all transform 0.3s ease;
    background: linear-gradient(
        90.75deg,
        rgba(83, 234, 144, 0.7) 1.29%,
        rgba(59, 113, 199, 0.7) 98.71%
    );
    backdrop-filter: blur(20px);
    border-radius: 18px;
    color: #ffffff;
    margin-top: 20px;
}
.daftar:hover {
    color: white;
    box-shadow: 2px 2px 12px 1px lightseagreen;
    transform: scale(1.005) !important;
}
footer {
    color: white;
    text-align: center;
}
.input-group-text {
    border: none;
    cursor: pointer;
    border-bottom: 2px solid #ffffff !important;
    border-radius: 0px !important;
}
.mata {
    background: url(../lambang/mata.png);
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    padding-top: 35px;
}
.mata-ketutup {
    background: url(../lambang/mata-ketutup.png);
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    padding-top: 35px;
}
@media screen and (max-width: 576px) {
    #daftar-container{
        padding-top: 125px;
        padding-bottom: 125px;
    }
    .naga {
        background: url("../lambang/Group-7197.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100px;
    }
    .login-box {
        align-items: center;
    }
}
