nav {
    height: 66.53px;
    background-color: #11102850;
}

nav .logo-small {
    max-width: 8rem;
    height: auto;
}

nav.navbar .navbar-collapse div:nth-child(2) div img {
    width: 1.5rem;
}

nav.navbar .navbar-collapse .nav-link {
    font-size: .875rem;
    color: white;
    position: relative;
    font-family: "gothambold";
}

nav.navbar .navbar-collapse a.cta.nav-link {
    background: linear-gradient(45deg, #3b71c7, #53ea90);
}

nav.navbar .navbar-nav .nav-link:not(.nav-action):hover,
nav .nav-link.active {
    color: #53ea90 !important;
}

nav.navbar .navbar-nav .nav-link:not(.active, .nav-action, .dropdown-toggle):after {
    content: "";
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav.navbar .navbar-nav .nav-link:not(.dropdown-toggle):hover:after {
    width: 100%;
    left: 0;
    background-color: #53ea90;
}

nav.navbar .navbar-collapse div.nav-options img {
    display: none;
}

nav .nav-link.active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #53ea90;
}

nav .dropdown .dropdown-menu {
    font-family: 'gothammedium';
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}

nav .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #53ea90;
}

@media only screen and (max-width: 1200px) {
    nav.navbar .navbar-collapse .nav-link {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }
}

@media only screen and (max-width: 978px) {
    nav .navbar-collapse {
        background-color: #111028;
        position: fixed;
        top: 0;
        bottom: 0;
        max-width: 75%;
        left: 0;
        padding-top: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        height: 100vh !important;
        overflow-y: scroll;
    }
    nav .navbar-collapse::-webkit-scrollbar {
        display: none;
      }
    nav .navbar-collapse.collapsing {
        height: 100%;
        left: -75%;
        transition: height 0s ease;
    }
    nav .navbar-collapse .close-mobile {
        display: flex !important;
    }
    nav .navbar-collapse.show {
        height: 100%;
        left: 0;
        transition: left 400ms ease-in-out;
    }
    nav .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 400ms ease-in;
    }
    nav.navbar .navbar-collapse div.nav-options {
        padding-bottom: 1rem;
        align-items: start !important;
    }
    nav.navbar .navbar-collapse div.nav-options img {
        display: block;
    }
    nav.navbar .navbar-collapse a.cta.nav-link {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 1rem !important;
        margin-bottom: 5rem !important;
        border-radius: 0.5rem;
        text-align: center;
        width: 100%;
    }
    nav .dropdown {
        display: none;
    }
    nav .dropdown-nav-link {
        display: block !important;
    }
}

@media only screen and (max-width: 768px) {
    nav.navbar .navbar-nav .nav-link {
        font-size: 1rem;
    }
    nav .logo-small {
        max-width: 5rem;
        height: auto;
    }
}
